@model BookingMiddleware.Models.ReservationViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Reservation.City.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reservation.City.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reservation.ClientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reservation.ClientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reservation.ClientLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reservation.ClientLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reservation.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reservation.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reservation.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reservation.Duration)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Reservation.ReservationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
